body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #110101; /* Fondo con color de Bootstrap */
    color: #ffffff; /* Texto blanco por defecto */
}

h1 {
    color: #bb6262; /* Color púrpura claro para el título */
    font-weight: bold;
    text-align: center; /* Centrar el título */
    margin-bottom: 30px; /* Espacio debajo del título */
}

#stateSelector {
    font-size: 18px;
    padding: 12px;
    border-radius: 5px;
    color: #ffffff; /* Texto blanco en el selector */
    width: 100%; /* Ancho completo */
}

.card {
    border: 1px solid #444444; /* Borde más oscuro */
    border-radius: 8px;
    color: #ffffff; /* Texto blanco en la tarjeta */
}

#stateData {
    min-height: 300px;
    height: auto; /* Permitir que la altura se ajuste al contenido */
    overflow-y: auto; /* Desplazamiento solo si es necesario */
}

#chartContainer {
    min-height: 300px; /* Altura mínima para el cuadro del diagrama */
}
